soa.contract/src/main/resources/TestXMLExamples.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TestXMLExamples" xmlns:tns="http://www.example.org/TestXMLExamples" elementFormDefault="qualified">


   <!--  Should flag violation of element name for ComplexTypes -->
   <element name="jimBob" type="tns:NewComplexType"></element>

    <complexType name="NewComplexType">
      <sequence>
         <element name="aa" type="string"></element>
         <element name="bb" type="integer"></element>
      </sequence>
    </complexType>
    
</schema>