soa.contract/src/main/resources/TestXMLExamples.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TestXMLExamples" xmlns:tns="http://www.example.org/TestXMLExamples" elementFormDefault="qualified">


   <!--  Should flag violation of element name for ComplexTypes -->
   <xs:element name="jimBob" type="tns:NewComplexType"></xs:element>

    <xs:complexType name="NewComplexType">
      <xs:sequence>
         <xs:element name="aa" type="xs:string"></xs:element>
         <xs:element name="bb" type="xs:integer"></xs:element>
      </xs:sequence>
    </xs:complexType>
    
</xs:schema>